header.header
    .container-fluid
        .row.align-items-center.header--row
            .col-lg-1.header--logo
                a(href="./") 
                    img.img-fluid(src=ruta+"img/Monodata.svg", alt="monodata")

            .btn-ham(class="navbar-toggler collapsed", type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")

            .col-lg-11.header--navegacion.d-flex
                nav.navbar-expand-lg
                    .navbar-collapse.collapse#navbarNav
                        ul.header--one

                            li#li-proy(class=proy)
                                a(href=ruta+"proyectos.html") Proyectos

                            li#li-exp(class=exp)
                                a(href=ruta+"experimentos.html") Experimentos

                            li#li-news(class=news)
                                a(href=ruta+"noticias.html") Noticias

                        ul.header--two
                            li#li-lang
                                a EN
                                a.active ES

                            li#li-beneficios(data-bs-toggle="modal", data-bs-target="#modal-contact")
                                a Contacto

                            //- li(data-bs-toggle="modal", data-bs-target="#modal-search")
                            //-     button.icon-search
                            li#li-search
                                button.icon-search(data-bs-toggle="modal", data-bs-target="#modal-search")




